.form-popup {
    display: none;
}

.form-container {
    background-color: rgb(221, 214, 218);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px 0;
}