{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{% static 'myapp/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/form.css' %}" />
        <script type="text/javascript" src="{% static 'myapp/form.js' %}"></script>
        
        {% if title %}
            <title>Django App - {{ title }}</title>
        {% else %}
            <title>Django App</title>
        {% endif %}
    </head>
    <body>
       <div class="top">
            <img class="logo" src="{% static 'myapp/temp.jpg' %}" alt="logo">
            <nav class="nav">
                <ul>
                    <!-- nav left side -->
                    <div class="nav-left">
                        <!--<li><a href="{% url 'groups' %}">Groups</a></li>-->
                        <li><a href="{% url 'receipts'%}">Receipts</a></li>
                        <li><a href="{% url 'items'%}">Items</a></li>
                        <!--<a href="#">Account</a>
                        <a href="#">Settings</a>-->
                    </div>

                    <!-- nav right side -->
                    <div class="nav-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {%  else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </div>
                </ul>
            </nav>
       </div>

        {% if title %}
            <h2>{{ title }}</h2>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>