{% extends "myapp/base.html" %}
{% load static %}

{% block content%}

<h1>Home</h1>
<table>
    <tbody>
    {% for group in object_list %}
        {% if group %}
            <tr>
                <td>
                    <a href="{% url 'group-detail' group.pk %}">
                        <button type="submit">{{ group.name }}</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'group-delete' group.pk %}">
                        <button type="submit">Delete</button>
                    </a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    <!--<img src="{{ group.users.profile.image.url }}">-->

    </tbody>
</table>

<!-- button to open popup group form -->
<button onclick="openForm()">Create Group</button>

<!-- group form -->
<div class="form-popup" id="popupForm">
    <form class="form-container" action="{% url 'create-group' %}" method="POST" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <label for="{{ field.name }}"> {{ field.label }} </label>
                {{ field }}
            </div>
        {% endfor %}

        <button type="button" onclick="closeForm()">Cancel</button>
        <a href="{% url 'create-group' %}">
            <button type="submit">Create</button>
        </a>
    </form>
</div>

{% endblock content %}
